{% extends "base.html" %}
{% block body %}

<!-- All the blogs (homepage) --> <center>
<h1> Vent and it will disappear after you reload! </h1>

<img src="http://images4.fanpop.com/image/photos/22000000/Cute-Puppies-puppies-22040876-1280-800.jpg" style="width:304px;height:228px">
</center>
<script type="text/template" id="blogPost">
  <h1> Post number: <%=pNumber %> <h1>
  <ul class="js-list"> <%= blog%> </ul>
</script>


<script type="text/template" id="newPost">

    Update your blog! <br> <input id="nPost">
    <button class="pure-button pure-button-primary" id="add">Submit</button>

  
</script>


<!-- Show blog posts -->




<!-- Comments on a blog page, may or may not include this 
<script type="text/template" id="onPost">
  <center>
    Comment on this blog!<br> <input type="text" id="newPost" style="width: 300px; height: 200px"> <br>
    <button class="pure-button pure-button-primary" id="add">Submit</button>
  </center>
</script>
-->
<div class="pure-g">
  <div class="pure-u-1-12"></div>
  <div class="pure-u-5-6">
    <div id="blog">
    </div>
    <div id="post">
    </div>
  </div>
</div>

<script src="static/app.js"></script>
{% endblock body %}
