<!DOCTYPE HTML>
<html>
  <head>
    <script src="static/lib/jquery.js"></script>
    <script src="static/lib/lodash.js"></script>
    <script src="static/lib/backbone.js"></script>
    <script src="static/lib/backbone.marionette.js"></script>
    <script src="static/app.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">    
  </head>

  <div class="pure-menu pure-menu-horizontal pure-menu-scrollable">
    <a href="#" class="pure-menu-link pure-menu-heading">TODO</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item"><a href="#" class="pure-menu-link">Category1</a></li>
    </ul>
  </div>
  <body>
    
    
    
  </body>
  
</html>
