{% extends "base.html" %}
{% block body %}

<script type = "text/template" id = "static-template">
  <h3> Add a line to the story and watch your epic grow! </h3>
</script>


<script type ="text/template" id = "line">
  <%- l %>
</script>

<script type = "text/template" id = "add-template">
  <ol></ol>
  <h3>Add a line!</h3>
  <input type = "text" id = "newline">
  <button class = "pure-button pure-button-primary" id = "add">Add your line!</button>
</script>

<div class="pure-g">
  <div class="pure-u-1-12"></div>
  <div class="pure-u-5-6">
  <h1> Let's Write a Story! </h1>
  <h3>Instructions:</h3> Keep adding lines, and help us create a beautiful story!
    <div id="instructions-region"></div>
  <h3>Story</h3>
<div id = "story"></div>

<script src="static/app.js"></script>
{% endblock body %}
