<!DOCTYPE HTML>
{% extends "base.html" %}
{% block body %}


<div id="test">TESTING</div>

<script type="text/template" id="static-template">
	<h2>The critics have judged the following places to eat...</h2><br>
	Terrys: <%= Terrys %><br>
	Ferrys: <%= Ferrys %><br>
	MacDonalds: <%= MacDonalds %><br>
	The Cafeteria: <%= Cafeteria %><br>

	<h2>Add to Story</h2>
	<input id="review"> 
	<button class="pure-button pure-button-primary" id="TR">Review Terrys!</button>
	<button class="pure-button pure-button-primary" id="FR">Review Ferrys!</button>
	<button class="pure-button pure-button-primary" id="MR">Review MacDonalds!</button>
	<button class="pure-button pure-button-primary" id="CR">Review the Cafeteria!</button>


</script>
<div id="place">This is supposed to work, but doesn't.</div>
<script src="static/app.js"></script>

<br><br><br><br><br><br><br><br><br><br><br>
If you got to this point without seeing the actual project, it means the %#*$& thing still doesn't work.<br>
Odds are I gave up after a few hours of frustration, or had to not upload a version that was so thoroughly broken.<br>
Granted, I probably could've made do by copying someone's project and changing the spacing, but I'm not that kind of person.<br>
Hopefully I can figure out a working version, or try to patch it up in class.<br>
I'm writing this ahead of time to ensure that a) i remember and b) I'm coherent.











{% endblock %}
