{% extends "base.html" %}
{% block body %}
<script type="text/template" id="composite-template">
New Player information:
<form  class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Player Name">
        </div>
        <div class="pure-control-group">
            <label for="name">Height</label>
            <input id="height" type="text" placeholder="Player Height">
        </div>
        <div class="pure-control-group">
            <label for="name">Weight</label>
            <input id="weight" type="text" placeholder="Player Weight">
        </div>
        <div class="pure-control-group">
            <label for="name">Position</label>
            <input id="position" type="text" placeholder="Player Position">
        </div>
        <div class="pure-control-group">
            <label for="name">Hometown</label>
            <input id="hometown" type="text" placeholder="Player hometown">
        </div>
      
            <button type="submit" class="pure-button pure-button-primary" id="add">Submit</button>
    </fieldset>
</form>

<table class="pure-table pure-table-bordered">
	<thead>
			<tr><th>Name</th><th>Height</th><th>Weight</th><th>Position</th><th>Hometown</th></tr>
	</thead>
	<tbody>
	</tbody>
</table>
</script>

<script type="text/template" id="first-template">
	<td><%- name %></td>
	<td><%- height %></td>
	<td><%- weight %></td>
	<td><%- position %></td>
	<td><%- hometown %></td>
</script>

<div class="pure-g">
	<div class="pure-u-1-12"></div>
	<div class="pure-u-5-6">
		<h1>Peglegs Roster</h1>
		</table>
		<table class="pure-table pure-table-bordered" id="first-region">
		<table class="pure-table pure-table-bordered" id="second-region">
		</table>
		<hr>
		<div id="third-region"></div>
	</div>
</div>


<script src="static/app.js"></script>
{% endblock body %}
