{% extends "base.html" %}
{% block body %}

<style>
ul
{
list-style-type: none;
}
</style>

<script type = "text/template" id = "static-template">
  <h3> Poetry is an art. As such, you must create this art in its entirety.</h3>
</script>

<script type ="text/template" id = "l">
  <%- l %>
</script>

<script type = "text/template" id = "add-template">
  <ul></ul>
  <h3>Lift your pen and write!</h3>
  <input type = "text" id = "new"></br></br>
  <button class = "pure-button pure-button-primary" id = "add">Add to the Masterpiece</button>
</script>


<div class="pure-g">
  <div class="pure-u-5-6">
  <center><h1><u> Create a poem </u></h1>
  <h2>Your Masterpiece</h2>
<div id = "adding-region"></div>
<script src="static/app.js"></script>
</center>
{% endblock body %}
