{% extends "base.html"%}
{% block body %}

  <div class="pure-g">
     <div class="pure-u-1-12"></div>
     <div class="pure-u-5-6">
       <div id="first-region"></div>
     </div>
   </div>


<script type="text/template" id="addLine">
  <hr>
  <input id="newLine">

  <button class="pure-button pure-button-primary" id="add">add line</button>
  <hr>
</script>


   <script type="text/template" id= "story">
     <td><%- content %></td> <!--<td> <button class="rm">remove line</button></td>-->
   </script>
   

   <script src="static/app.js"></script>

   {% endblock %}
