<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<center><h1> Calendar of April </h1></center>
</head>
<body>
	<div class="row">
		<div class='column1'> Sunday </div>
		<div class='column2'> Monday </div>
		<div class='column3'> Tuesday </div>
		<div class='column4'> Wednesday </div>
		<div class='column5'> Thursday </div>
		<div class='column6'> Friday </div>
		<div class='column7'> Saturday </div>
		<div class="column8">newday </div>
</body>
</html>