<!DOCTYPE HTML>
<html>
    <head>
	<script type="text/javascript" src="static/lib/jquery.js"></script>
	<script type="text/javascript" src="static/lib/lodash.js"></script>
	<script type="text/javascript" src="static/lib/backbone.js"></script>
	<script type="text/javascript" src="static/lib/backbone.marionette.js"></script>
	<link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
    </head>
    <body>
	<!-- <script type="text/template" id="layout-template">
		Super-Duper General Overall Stuff Goes Here
		</script> -->
	<script type="text/template" id="entry-composite-template">
	    New Entry: <input id="newentryname">
	    <button id="addentry">New Entry</button>
	    <table>
		<thead>
		    <tr><th>Name</th></tr>
		</thead>
		<tbody>
		</tbody>
	    </table>
	</script>
	<script type="text/template" id="entry-template">
	    <td><%- name %></td>
	</script>
	<script type="text/template" id="comment-composite-template">
	    <h3><%= name %></h3>
	    <input type="hidden" name="entry" value="<%= id %>">
	    <table>
		<thead>
		    <tr><th>Comments</th></tr>
		</thead>
		<tbody>
		</tbody>
	    </table>
	    New Comment: <input id="newcommentname">
	    <button id="addcomment">Add Comment</button>
	</script>
	<script type="text/template" id="comment-template">
	    <td><%- content %></td>
	</script>

	<div id="wrapper">
	    <div class="box">
		Blog Entries Go Here
		<table id="entries"></table>
	    </div>
	    <div class="box">
		Comments for Selected Blog Go Here
		<table id="comments"></table>
	    </div>
	</div>
	
	<script type="text/javascript" src="static/app.js"></script>
    </body>
</html>
