<html>
	<head>
		
		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="static/lib/lodash.js"></script>
		<script src="static/lib/backbone.js"></script>
		<script src="static/lib/backbone.marionette.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<title>To Do</title>
	
	{% block head %}

	{% endblock %}
	</head>
	<body>
		<h1>To Do List</h1>
		<div id="main">

		</div>
		{% block body %}
		{% endblock %}
		
	</body>
</html>