{% extends "base.html" %}
{% block body %}


<script type="text/template" id="story-template">
  <center><%- line %> <br> </center>
</script>

<script type="text/template" id="stories-template">
 <center> <div>
  Add New Lines to the Story: <br>  <input type="text" name="lines" id="line"><br><button class="pure-button" id="add">Add</button> </div> </center>
<br>
<center>Here is an awesome story <br> </center>
<ul></ul>


</script>


<div class="pure-g">
  <div class="pure-u-1-12"></div>
	<div class="pure-u-5-6">
<center>
	  <h1>The Story Page</h1>
	</center>
	</div>
  </div>

<div id="story"></div>

<script src="static/app.js"></script>
{% endblock body %}
