{% extends "base.html" %}
{% block body %}

<script type="text/template" id="main-template">
    <h2>Current Stories</h2>
    <p>Start a new Story:
    <form class="pure-form">
        <input type="text" placeholder="Story Title" id="newstory">
        <button class="pure-button" id="add">Add</button>
    </form>
    </p>
    <table id="storylist" class="pure-table pure-table-bordered">
        <thead>
            <tr><th>Title</th><th>Story So Far</th><th>Your Line</th><th colspan="2">Controls</th></tr>
        </thead>
        <tbody>
            <!-- The Place itemviews go here -->
        </tbody>
    </table>
</script>

<script type="text/template" id="story-item-template">
    <td><%- name %></td>
    <td><% for(var i = 0; i < lines.length; i++){ %>
        <%- lines[i] %><br>
        <% } %>
    </td>
    <td id="newline" contenteditable="true"></td>
    <td><button class="pure-button" id="addline">Add Line</button></td>
    <td><button class="pure-button" id="delete">Delete</button></td>  

</script>

<div class="pure-g">
    <div class="pure-u-1-12"></div>
    <div class="pure-u-5-6">
        <h1>Story Maker</h1>
        <hr>
        <div class="pure-u-1-6"></div>
        <div class="pure-u-2-3">
            <div id="center-region">

            </div>
        </div>
    </div>
</div>

<script src="static/app.js"></script>
{% endblock %}
