<!doctype html>
<html>
    <head>
        <script src="static/lib/jquery.js"></script>
        <script src="static/lib/lodash.js"></script>
        <script src="static/lib/backbone.js"></script>
        <script src="static/lib/backbone.marionette.js"></script>
        <link rel="stylesheet" href="static/styles/reset.css">
        <link rel="stylesheet" href="static/styles/style.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

    </head>
    <body>
        {% include 'scripts.html' %}
        <div id="timeline-region">
        </div>
    </body>
    <script src="static/lib/modernizr.js"></script>
    <script src="static/lib/main.js"></script>
    <script src="static/app.js"></script>
</html>
