<!doctype>
<html>
<!-- 
2 views in one model
model
-name
-review ----to_right---- rating

model on button changes top
-Up and Down buttons (rating)
-Reviews



-->


  <head>
    <script src="/static/lib/jquery.min.js"></script>
    <script src="/static/lib/lodash.js"></script>
    <script src="/static/lib/backbone.js"></script>

    <script type="text/template" id="review_temp">
      <tr>
	<td> <%=  %> </td>
	<td> <%= rating %> </td>
	<td>Not a button</td>
	<td><button class="up">up</button></td>
	<td><button class="down">down</button></td>
	<td><button class="del">del</button></td>
      </tr>
    
  </head>
  <body>
    <h1>Hello</h1>
    <button>Unrelated button</button>
    <hr>
    <table border="1" id="review_temp">
      <td>sdfsd</td>
    </table>
    

    </script>
    <script src="/static/app.js"></script>
				 </body>
</html>

