<!DOCTYPE HTML>
<html>
  <head>
    <script src="/static/lib/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.min.js"></script>
    <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>

    <script type="text/template" id="place_template">
      <table border=1px>
	<tr>
	  <td> <%= name %> </td>
	  <td> <%= rating %> </td>

	</tr>
      </table>
    </script>
    <br>
    <hr>
    <script type="text/template" id="review_template">
      <table border=1px>
	<tr>
	  <td> <%= name %> </td>
	  <td> <%= rating %> </td>
	  <td> <%= review %> </td>
	</tr>
	<tr>
	  <td><button class="up">up</button></td>
	  <td><button class="down">down</button></td>
	  <td><button class="del">del</button></td>
	</tr>
	<tr>
          <td>
            <textarea class="comment" rows="10" cols="30"></textarea>
            <button class="edit">edit</button>
          </td>
          <td>
            <button class="erase">erase</button>
          </td>

	</tr>
      </table>
    </script>
  </head>

  <body>
    <h1>Hello</h1>
    <button>Unrelated button</button>
    <hr>
    <table border="1" id="place">
    </table>
    <br>
    <table border="1" id="review">
    </table>
    <script src="/static/app.js"></script>
  </body>
</html>
