<!DOCTYPE html>
<html>
<head>
  <script src="static/jquery.js"></script>
  <script src="static/lodash.js"></script>
  <script src="static/backbone.js"></script>
  <script src="static/backbone.marionette.js"></script>
  <!--link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"-->
  <link rel="stylesheet" href="static/board.css">
</head>
<body>
  <script type="text/template" id="chat-template">
    <div id="chatcontainer">
      <div id="chatmain">
      </div>
      <div id="chatinput">
        <button id="chatsendbutton">Send</button>
        <span id="chatinputspan">
          <input id="chattext" type="text"></input>
        </span>
      </div>
    </div>
  </script>

  <script type="text/template" id="name-template">
    <div id="namedisplay">
      &gt;&gt; Speaking as <%= name %>
    </div>
    <div id="nameinput">
      <span id="nameinputspan">
        <input id="nametext" type="text"></input>
      </span>
      <button id="namesetbutton">Set</button>
    </div>
  </script>

  <script type="text/template" id="head-template">
    test channel
  </script>

  <div id="head-reg"></div>
  <div id="name-reg"></div>
  <table border="1" padding="0"><tr><td>
  <div id="chat-reg"></div>
  </td></tr></table>

  <script src="static/app.js"></script>
</body>
</html>
