<!DOCTYPE HTML>
{% extends "base.html" %}
{% block body %}


<script type="text/template" id="static-template">
  <h2>The teachers</h2>
  
  Topher: <%= Topher %><br>
  Z: <%= Z %><br>
  DW: <%= DW %><br>

  <h2>Comment on 'em</h2>
  <input id="comment">
  <button class="pure-button pure-button-primary" id="TopherCom">Review Topher!</button>
  <button class="pure-button pure-button-primary" id="ZCom">Review Z!</button>
  <button class="pure-button pure-button-primary" id="DWCom">Review DW!</button>

</script>

<script type="text/template" id="new-template">
	<h2>Add a New Teacher</h2>
	<h4>Title:</h4>
	<input id="teacher-name">
	<h4>Comments?</h4>
	<input id="comments">
	<button class="pure-button pure-button-primary" id="add">Add</button>

</script>

<div class="pure-g">
	<div class="pure-u-1-12"></div>
	<div class="pure-u-5-6">
	  <div id="place">
	  </div>
	  <hr><hr>
	  <div id="story-maker"></div>
	</div>
</div>

{% endblock %}
