
{% extends "base.html" %}
{% block body %}
<script type="text/template" id="collection-template">
  <ul>
    <!--The itemviews will go here --> 
</script>
<center>
<script type="text/template" id="composite-template">
  <h1>Keep the stories going!!</h1>
 Start a new story - <input id="text"><button class="pure-button" id="new">New Story</button><br><br>
  <table class="pure-table pure-table-bordered">
    <tbody>
      <!-- The itemviews will go here -->
    </tbody>
  </table>
</script>
<script type="text/template" id="story-template">
  <td><%- text %></td>
  <td><input id="phrase<%- id %>"><button id="add">Add to this story</button></td>
  <td><button id="delete">Delete this story</button></td>
</script>
<script type="text/template" id="view-story-template">
  <li><%- text %><br></li>
</script>
<div class="pure-g">
  <div class="pure-u-1-12"></div>
  <div class="pure-u-5-6">
    <h1>Stories</h1>
    <hr>
    <div id="first-region">
    </div>
    <hr>
    <table class="pure-table pure-table-bordered" id="second-region">
    </table>
    <hr>
  </div>
</div>
</div>
<script src="static/app.js"></script>
{% endblock body %}
