{% extends "base.html" %}
{% block body %}
<br><br>
<!-- <div id="feed"></div> -->


<div id="article-region">
</div>

<script type="text/template" id="article-list-tempate">
    <ul class="table-view" id="article-list">
    </ul>
</script>

<script type="text/template" id="article-template">
  <a class="navigate-right">
    <span class="badge"><%=comments%></span>
    <%=title%>
    <p id="metaData"> <%=author%>  |  <%=date%> </p>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt... </p>
  </a>
</script>


{% endblock body %}
