<!doctype html>
<html>
  <head>
    <style>
      body {font-family: "Verdana";}
    </style>
    <script src="static/lib/jquery.js"></script>
    <script src="static/lib/lodash.js"></script>
    <script src="static/lib/backbone.js"></script>
    <script src="static/lib/backbone.marionette.js"></script>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>
  <body>
    <script type="text/template" id="placetemp">
      <%- story %>
    </script>
    <script type="text/template" id="comptemp">
      <h1>The Story</h1>
      <table class="pure-table pure-table-bordered">
	<tr></tr>
      </table>
      <h3>Add three words: </h3>
      <input id="story"><button class="pure-button pure-button-primary" id="add">Add</button>
    </script>
    <div id="main">
    </div>
    <script src="static/app.js"></script>
  </body>
</html>
