{% extends "base.html" %}
{% block body %}
<h1>Communal To-Do List</h1>
<div id="main">

</div>
<script type="text/template" id="composite-template">
	<form class="pure-form">
		<fieldset>
			<input type="text" id="to_add" placeholder="New Task">
			<button class="pure-button pure-button-primary" id="add">Add</button>
		</fieldset>
	</form>
		<table class="pure-table pure-table-bordered pure-table-striped">
			<tbody>
			<tr>
				<td style="text-align:center"><b>Do</b></td>
				<td style="text-align:center"><b>Did</b></td>
			</tr>
			</tbody>
		</table>
</script>

<script type="text/template" id="task-template">
	<td><%- task%></td>
	<td>
	<label for="completed" class="pure-checkbox">
		Done <input type="checkbox" id="done">
	</label>
	</td>
</script>
<script src="static/app.js"></script>
{% endblock %}