<HTML>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <head>
    <script src="source/jquery.min.js"></script>
    <script src="source/lodash.js"></script>
    <script src="source/backbone.js"></script>
    <script type="text/template" id="place_template">
    <tr>
      <td> <%=name %></td>
      <td> <%= rating %></td>
      <td> <%= comment %></td>
    </tr>
    </script>

    <script type="text/template" id="review_template">
      <tr>
	<td> <%= name %> </td>
	<td> <%= rating %> </td>
	<td> <button class="pure-button up">up</button></td>
	<td> <button class="down pure-button">down</button></td>
	<td> <button class="del pure-button">delete</button></td>
	<td> <form class="pure-form">COMMENT HERE YAAY<input class="form-stuff" type="text" id="comment"></input></form></td>
	<td> <button class="pure-button submit">submit</button></td>
      </tr>  
    </script>
  </head>
  
  <body>
    <h1>SWAAG</h1>
    <table border="1" id="place"></table>
    <table border="1" id="review"></table>
    <script src = "swosh.js"></script>
    
  </body>
</HTML>
